#content3 {
  position: relative;
}

#modal1,
#modal2,
#modal3 {
  /* position: relative; */
  /* border: 20px solid gray; */
  width: 620px;
  height: 390px;
  /* margin: 200px auto; */
  /* padding: 30px auto; */
  /* top: 50px;
      left: 260px; */

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* margin: 20px auto; */
  max-width: 90%;
  display: none;

  z-index: 100;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modalTitle {
  width: 150px;
  margin-left: 30px;
  margin-top: 16px;
  margin-bottom: 16px;

  color: #125688;
  font-size: 24px;
}

#sel1,
#sel2,
#sel3 {
  width: 180px;
  height: 48px;
  padding: 12px;
  /* border-radius: 8px;
      border: 1px solid #000;
      background: #fff; */
  font-size: 18px;
  margin-left: 12px;
  /* color: #424242; */

  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  color: #333;
}

.in1 {
  width: 180px;
  height: 40px;
  bottom: -250px;
  border-radius: 12px;

  background: #125688;
  color: #fff;
  cursor: pointer;
}

.pri::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.pri::placeholder {
  text-align: right;
  font-size: large;
}
.pri::-webkit-inner-spin-button {
  margin-right: 5px;
}
.pri {
  text-align: right;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  /* border-radius: 2px; */
  font-size: large;

  border-radius: 8px;
  border: 1px solid #ddd;
  color: #333;
}
#deposit {
  text-align: right;
  padding-right: 40px;
  font-size: large;
}

#modal3 > p {
  width: 500px;
  height: 104px;
  margin: 10px auto 20px;
  padding: auto auto;
  border-radius: 2px;
  border: 10px solid rgb(224, 224, 224);
  background-color: rgb(224, 224, 224);

  color: #333;
}

#res1,
#res2,
#res3 {
  margin-left: -80px;
  position: absolute;
  left: 130px;
  bottom: 40px;
  flex-shrink: 0;
  background-color: rgb(205, 203, 203);
  border: 0;
  color: #333;
}

#res1:hover,
#res2:hover,
#res3:hover {
  background-color: rgb(102, 102, 102);
  color: #fff;
}

#sub1,
#sub2,
#sub3 {
  position: absolute;
  right: 60px;
  bottom: 40px;
  flex-shrink: 0;
  background-color: rgb(250, 229, 232);
  border: 0;
  color: #333;
}

#sub1:hover,
#sub2:hover,
#sub3:hover {
  background-color: rgb(243, 128, 145);
  color: #fff;
}

#conversion {
  text-align: right;
  width: 74%;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  position: relative;
  bottom: 1px;
  outline: none;
  color: #125688;
}
