/*당신을 ~ 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gothic+A1:wght@200&family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');
/*공지 */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gothic+A1:wght@200&display=swap');
/* 상권분석 */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gothic+A1:wght@200&family=Nanum+Gothic&display=swap');
/* 고객님~, 로그인 하시면 ~ 쪽 글꼴*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#container {
  width: 100%; /* 내용 전체의 너비 */
  padding: 0px;
}

#header {
  width: 100%; /* 부모 요소의 너비와 똑같게 */
  height: 100px; /* 헤더의 높이 */
  background-color: #acacac;
}

#contents {
  width: 100%; /* 본문의 너비 */
  height: 400px; /* 본문의 높이 */
  background-color: #f7f7f7;
  float: left; /* 왼쪽으로 플로팅 */
}
#contents > h2 {
  text-align: center;
  font-family: 'Diphylleia', serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  height: 280px;
}
#result_content2 {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 0px;
  display: flex;
}
#dream {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 40px;
  width: 280px;
}
#contents > h2 {
  font-size: 40px;
}

#content1 {
  width: auto;
  height: 100px;
  text-align: center;
  line-height: 155px;
  font-family: 'Diphylleia', serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#footer {
  width: 100%; /* 부모 요소의 너비와 똑같게  */
  height: 100px; /* 푸터의 높이 */
  background-color: rgb(70, 130, 180);
  clear: left; /* 플로팅 해제 */
}
#app {
  width: auto;
  font-size: 14px;
  font-family: 'Diphylleia', serif;
  font-family: 'Gothic A1', sans-serif;
}

/*content3쪽 */
#content3 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 650px;
  top: 100px;
}
.caption {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.6s ease-in-out;
  z-index: 10;
  top: 200px;
  height: 300px;
}
.caption h2 {
  line-height: 260px;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-family: 'Gowun Dodum', sans-serif;
}
.caption:hover {
  opacity: 1;
  transform: translateY(-50px);
}

/*매물 리스트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@200;400&display=swap');

#saleList {
  width: 450px;
  height: 360px;
  position: absolute;
  left: 13%;
  top: 200px;
  border: 3px solid rgb(217, 212, 212);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  display: none;
}

#saleList:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#ListContents {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 10px;
  width: 420px;
  font-family: 'Noto Sans KR', sans-serif;
}

#saleList2 {
  overflow: auto;
  width: 446px;
  height: 350px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#saleList2::-webkit-scrollbar {
  /*스크롤바 너비 */
  width: 10px;
}
#saleList2::-webkit-scrollbar-thumb {
  /*전체 스크롤바 */
  background-color: black;
  border-radius: 10px;
}

#saleList2::-webkit-scrollbar-track {
  /* 막대 스크롤바 */

  border-radius: 14px;
}
#shopList2 {
  overflow: auto;
  width: 266px;
  height: 383px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#shopList2::-webkit-scrollbar {
  /*스크롤바 너비 */
  width: 10px;
}
#shopList2::-webkit-scrollbar-thumb {
  /*전체 스크롤바 */
  background-color: black;
  border-radius: 10px;
}

#shopList2::-webkit-scrollbar-track {
  /* 막대 스크롤바 */

  border-radius: 14px;
}

#saleStatus {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 10px;
  width: 420px;
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}
#saleStatus ~ span {
  font-size: 14px;
  display: block;
}

ul.tabnav {
  list-style: none;
  text-decoration: none;
  display: inline;
}

.tabnav li {
  display: inline-block;
  height: 26px;
  width: 150px;
  text-align: center;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 15px;
}
.tabnav li:first-child {
  margin-left: 31px;
}
.tabnav li:last-child {
  margin-left: 245px;
}
/*searchSale의 매물 리스트 css */

#article2 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 23%;
  right: 10%;
  transform: translate(0, 10%);
}
#article3 {
  width: 65%;
  height: 450px;
  position: absolute;
  top: 25%;
  left: 15%;
}
#article3_map {
  width: 65%;
  height: 450px;
  border: 1px solid red;
}

#btn {
  width: 75%;
  justify-content: center; /* 가로로 중앙 정렬 */
  align-items: center; /* 세로로 중앙 정렬 */
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: left;
}

#search {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  left: 10px;
  text-align: center;
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 1;
}
.btn1 {
  width: 200px;
  height: 55px;
  margin-top: 5px;
  border-radius: 12px;
  border: 2px solid #000;
  margin: 20px;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Nanum Gothic Coding', monospace;
  font-family: 'Noto Sans KR', sans-serif;
}
#fix {
  width: 100%;
  position: relative;
}
#btnId1 {
  transition-property: width, height;
  transition-duration: 0.5s;
}
#btnId1:hover {
  background-color: #eeebeb;
  width: 198px;
  height: 48px;
}
#btnId2 {
  transition-property: width, height;
  transition-duration: 1s;
}
#btnId2:hover {
  background-color: gray;
  width: 198px;
  height: 48px;
}

#foodList {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

#foodTitle {
  position: absolute;
  top: 50px;
}
#foodListSpan {
  display: block;
  position: absolute;
  top: 70px;
  margin-top: 15px;
  font-weight: bold;
  color: #5e5b5b;
  font-size: 18px;
}
.ottif {
  color: black;
  border: 2px solid #a5a9ac;
}

.ottdiv {
  border-left-width: 20px;
  border-left-color: rgb(54, 54, 54);
  border-radius: 7px;
  padding: 15px;
  border-left-style: solid;
  font-size: 0.9rem;
}
#image {
  width: 150px;
  margin-left: 75px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#map {
  width: 38%;
  height: 450px;
  top: 25%;
  position: absolute;
  right: 7%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 10px;
  display: none;
}
#map_map {
  width: 100%;
  height: 450px;
}

/*긴급사이드바 조절 */
#sidebar {
  position: absolute;
  left: 3%;
  top: 45%;
}

/*매물 점수 부분*/
#score {
  display: none;
}
#article_score {
  border: 3px solid rgb(217, 212, 212);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  width: 67%;
  height: 450px;
  position: absolute;
  top: 150px;
  left: 15%;
}
#h2_score,
#h2_score2,
#h2_score3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
