/*당신을 ~ 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gothic+A1:wght@200&family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');
/*공지 */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gothic+A1:wght@200&display=swap');
/* 상권분석 */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gothic+A1:wght@200&family=Nanum+Gothic&display=swap');
/* 고객님~, 로그인 하시면 ~ 쪽 글꼴*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#container {
  width: 100%; /* 내용 전체의 너비 */
  padding: 0px;
}

#header {
  width: 100%; /* 부모 요소의 너비와 똑같게 */
  height: 100px; /* 헤더의 높이 */
  background-color: #acacac;
}

#contents {
  width: 100%; /* 본문의 너비 */
  height: 400px; /* 본문의 높이 */
  background-color: #f7f7f7;
  float: left; /* 왼쪽으로 플로팅 */
}
#contents > h2 {
  text-align: center;
  font-family: 'Diphylleia', serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  height: 280px;
}
#result_content2 {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 0px;
  display: flex;
}
#dream {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 40px;
  width: 280px;
}
#contents > h2 {
  font-size: 40px;
}

#content1 {
  width: auto;
  height: 100px;
  text-align: center;
  line-height: 155px;
  font-family: 'Diphylleia', serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#footer {
  width: 100%; /* 遺�紐� �슂�냼�쓽 �꼫鍮꾩� �삊媛숆쾶  */
  height: 100px; /* �뫖�꽣�쓽 �넂�씠 */
  background-color: rgb(70, 130, 180);
  clear: left; /* �뵆濡쒗똿 �빐�젣 */
}
#app {
  width: auto;
  font-size: 14px;
  font-family: 'Diphylleia', serif;
  font-family: 'Gothic A1', sans-serif;
}

/*content3쪽 */
#content3 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 650px;
  top: 100px;
}
.caption {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.6s ease-in-out;
  z-index: 10;
  top: 200px;
  height: 300px;
}
.caption h2 {
  line-height: 260px;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-family: 'Gowun Dodum', sans-serif;
}
.caption:hover {
  opacity: 1;
  transform: translateY(-50px);
}

/*매물 리스트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@200;400&display=swap');

#saleList {
  width: 450px;
  height: 360px;
  position: absolute;
  left: 13%;
  top: 200px;
  border: 3px solid rgb(217, 212, 212);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  display: block;
  visibility: hidden;
}

#saleList:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#ListContents {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 10px;
  width: 420px;
  font-family: 'Noto Sans KR', sans-serif;
}
#ListContents div{
  margin-top:8px;
}
#ListContents button{
  float:right;
}

#saleList2 {
  overflow: auto;
  width: 446px;
  height: 350px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#saleList2::-webkit-scrollbar {
  /*스크롤바 너비 */
  width: 10px;
}
#saleList2::-webkit-scrollbar-thumb {
  /*전체 스크롤바 */
  background-color: black;
  border-radius: 10px;
}

#saleList2::-webkit-scrollbar-track {
  /* 막대 스크롤바 */

  border-radius: 14px;
}
#shopList2 {
  overflow: auto;
  width: 400px;
  height: 383px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#shopList2::-webkit-scrollbar {
  /*스크롤바 너비 */
  width: 10px;
}
#shopList2::-webkit-scrollbar-thumb {
  /*전체 스크롤바 */
  background-color: black;
  border-radius: 10px;
}

#shopList2::-webkit-scrollbar-track {
  /* 막대 스크롤바 */

  border-radius: 14px;
}

#saleStatus {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 10px;
  width: 420px;
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}
#saleStatus ~ span {
  font-size: 14px;
  display: block;
}

ul.tabnav {
  list-style: none;
  text-decoration: none;
  display: inline;
}

.tabnav li {
  display: inline-block;
  height: 26px;
  width: 150px;
  text-align: center;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 15px;
}
.tabnav li:first-child {
  margin-left: 31px;
}
.tabnav li:last-child {
  margin-left: 245px;
}
/*searchSale의 매물 리스트 css */

#article2 {
  width: 460px;
  height: 400px;
  position: absolute;
  top: 23%;
  right: 10%;
  transform: translate(0, 10%);
  background-color: #fff;
}
#article3 {
  width: 65%;
  height: 450px;
  position: absolute;
  top: 25%;
  left: 15%;
}
#article3_map {
  width: 60%;
  height: 450px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* border: 1px solid red; */
}

#btn {
  width: 75%;
  justify-content: center; /* 가로로 중앙 정렬 */
  align-items: center; /* 세로로 중앙 정렬 */
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: left;
}

#search {
  width: 90%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  left: 10px;
  text-align: center;
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 1;
}
.btn1 {
  width: 200px;
  height: 55px;
  margin-top: 5px;
  border-radius: 12px;
  border: 2px solid #000;
  margin: 20px;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Nanum Gothic Coding', monospace;
  font-family: 'Noto Sans KR', sans-serif;
}
#fix {
  width: 100%;
  position: relative;
}
#btnId1 {
  transition-property: width, height;
  transition-duration: 0.5s;
}
#btnId1:hover {
  background-color: #eeebeb;
  width: 198px;
  height: 48px;
}
#btnId2 {
  transition-property: width, height;
  transition-duration: 1s;
}
#btnId2:hover {
  background-color: gray;
  width: 198px;
  height: 48px;
}

#foodList {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

#foodTitle {
  position: absolute;
  top: 50px;
}
#foodListSpan {
  display: block;
  width:90%;
  position: absolute;
  top: 70px;
  margin-top: 15px;
  font-weight: bold;
  color: #5e5b5b;
  font-size: 18px;
}
#foodListSpan div{
	margin-top:6px;
}
#foodListSpan button{
	float:right;
}
.ottif {
  color: black;
  border: 2px solid #a5a9ac;
}

.ottdiv {
  border-left-width: 20px;
  border-left-color: rgb(54, 54, 54);
  border-radius: 7px;
  padding: 15px;
  border-left-style: solid;
  font-size: 0.9rem;
}
#image {
  width: 150px;
  margin-left: 75px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#map {
  width: 38%;
  height: 450px;
  top: 25%;
  position: absolute;
  right: 7%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 10px;
  display: block;
  visibility: hidden;
}
#map_map {
  width: 100%;
  height: 450px;
}

/*긴급사이드바 조절 */
#sidebar {
  position: absolute;
  left: 3%;
  top: 53%;
}

/*매물 점수 부분*/
#score {
  display: block;
  visibility: hidden;
}
#article_score {
  border: 3px solid rgb(217, 212, 212);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  width: 67%;
  height: auto;
  position: absolute;
  top: 150px;
  left: 15%;
}
#h2_score,
#h2_score2,
#h2_score3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.placeinfo_wrap {
  position: absolute;
  bottom: 28px;
  left: -150px;
  width: 300px;
}
.placeinfo {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
}
.placeinfo:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.placeinfo_wrap .after {
  content: '';
  position: relative;
  margin-left: -12px;
  left: 50%;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
  color: #fff;
  text-decoration: none;
}
.placeinfo a,
.placeinfo span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.placeinfo span {
  margin: 5px 5px 0 5px;
  cursor: default;
  font-size: 13px;
}
.placeinfo .title {
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  margin: -1px -1px 0 -1px;
  padding: 10px;
  color: #fff;
  background: #d95050;
  background: #d95050
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.placeinfo .tel {
  color: #0f7833;
}
.placeinfo .jibun {
  color: #999;
  font-size: 11px;
  margin-top: 0;
}
.bodywrap { 
	width:1320px;
	height:700px;
	position:absolute;
	left:530px;
	top:201px;
	background-color:"#ddd";
	background-repeat:no-repeat;
	background-size:cover;
	border:1px solid;
} 

.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}


.w-btn-outline {
    position: relative;
    padding: 3px 3px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-skin-outline {
    border: 3px solid #f8e6e0;
    color: #6e6e6e;
}

.w-btn-skin-outline:hover {
    background-color: #f8e6e0;
    color: #6e6e6e;
}
