<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.semi.main.mapper.IJobCategoryMapper">
    <select id="getCode" resultType="string">
        SELECT small_category_code FROM job_category
        WHERE small_category_name = #{name}
    </select>

   <select id="getJobList" resultType="string">
      SELECT small_category_name FROM job_category
      WHERE medium_category_name = #{mediumCategoryName}
   </select>

</mapper>