<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.semi.user.mapper.IMembersMapper">

    <sql id="passwordCheck">
        <if test="password != null">
            password = #{password},
        </if>
    </sql>
    <insert id="insertMember">
        INSERT INTO members
        VALUES (#{id}, #{password}, #{userName}, #{email})
    </insert>

    <select id="getMember" resultType="members">
        SELECT * FROM members
        WHERE id = #{id}
    </select>

    <update id="updateMember">
        UPDATE members
        SET
            id = #{id},
            user_name = #{userName},
            <include refid="passwordCheck" />
            email = #{email}
        WHERE id = #{id}
    </update>

    <delete id="deleteMember">
        DELETE FROM members
        WHERE id = #{id}
    </delete>


</mapper>
